table.threadsTable {
	background-color: #FFFFFF;
}

th.threadsTable {
	padding-left: 4px;
    padding-right:4px;
    text-align: left;
}

tr.threadsTable {
	
}

td.threadsTable {
	padding-left: 4px;
    padding-right:4px;
    text-align: left;
}

span.questionTime{}

div.tabpane{
}

ul.tabpane {
    list-style-type: none ;
    margin: 0px 0px 0px 0px ;
    padding: 7px 5px 7px 5px ;
}

ul.tabpane li {
    display: inline ;
    padding: 0px 3px 0px 3px ;
}

ul.tabpane li a:link {
}
ul.tabpane li a:visited {
}
ul.tabpane li a:hover {
}
ul.tabpane li a:active {
}


li.tabpane {
	background-color: #FFFFFF;
}

li.tabpaneActive {
	background-color: #1F1F1F;
}



div.tabbody{
}




iframe{
    width:100%;
    scrolling:yes;
}

iframe.question{
	height:900px;
}


iframe.awnsers{
	height:900px;
}


iframe.allAwnsers{
	height:400px;
}




div.topButtons{}



div.newThreadForm{
}

div.newThreadFormLabel{
}

div.newThreadFormField{
}

div.newThreadFormField iframe{
}






div.navigation{}



div.serverTime{}